/*******공용 ***********/
section.page{
	margin: 50px 0;
	text-align: center;
}
div.content{
	padding: 50px 0;
	width: 1200px;
	margin: auto;
}
section.page h3.title{
	text-align: center;
}

/*****기본 메뉴관리 조회 ********/
/*****기본 메뉴관리 조회 ********/
/*****기본 메뉴관리 조회 ********/
/*****기본 메뉴관리 조회 ********/
/*****기본 메뉴관리 조회 ********/

/****카테고리*****/
div.category{
	display: inline-block;
	margin-bottom: -70px;
	margin-left: -407px;
}

ul.category{
	padding:0;
	margin:0;
	display: inline-block;
	float: left;
}
ul.category li{
	float: left;
	list-style-type: none;
}
ul.category a{
	text-decoration:none;
	border : 1px solid rgb(228,219,215);
	float: left;
	width: 200px; height: 70px;
	text-align: center;
	line-height: 70px;
	color: black;
}
ul.category li.selected a{
	background-color: rgb(255,124,152);
	color: white;
}

/****버튼*****/
div.buttons{
	display: inline-block;
	float: right;
}
ul.buttons{
	display: inline-block;
}
ul.buttons li{
	float: left;
	margin-left: 17px;
	list-style-type: none;
}
ul.buttons button{
	border-radius: 20px;
	width: 100px; height: 50px;
	text-align: center;
	line-height: 50px;
	margin: 0;
	background-color: rgb(255,154,175);
	border: none;
	color: white;
	cursor: pointer;
}

/***아이스크림, 커피 관리 *******/

div.table{
	clear: both;
	padding: 0;
	display: inline-block;
	width: 100%;
}
div.table ul{
	margin: 0; padding: 0;
	list-style-type: none;
}
div.table table{
	margin: 0; padding: 0;
	border-collapse : collapse;
	border: none;
}
div.table table td{
	padding: 0 10px;
	border-bottom: 1px solid rgb(216,209,204);
	font-size: 14px;
}
div.table table td:nth-child(even){
	background-color: rgb(247,247,247);
}
div.table table th{
	border-top: 3px solid rgb(255,124,152);
	color: rgb(255,124,152);
	padding: 10px 0;
	font-size: 14px; 
	border-bottom: 1px solid rgb(216,209,204);
	height: 30px;
}
div.table table ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.table img.p_image{
	width: 150px; height: 150px;
}
div.table button.nutrients_more{
	border-radius: 10px;
	width: 60px; height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0;
	background-color: rgb(255,168,187);
	color: white;
	border: none;
	cursor: pointer;
	display: 
}

/** 아이스크림 **/
div.table table.menu_ice th:first-child {
	width: 180px;
}
div.table table.menu_ice th:nth-child(2) {
	width: 180px;
}
div.table table.menu_ice th:nth-child(3) {
	width: 330px;
}
div.table table.menu_ice th:nth-child(4) {
	width: 140px;
}
div.table table.menu_ice th:nth-child(5) {
	width: 120px;
} 
div.table table.menu_ice th:nth-child(6) {
	width: 120px;
}

/** 커피 **/
div.table table.menu_coffee th:first-child{
	width: 50px;
}
div.table table.menu_coffee th:nth-child(2){
	width: 200px;
}
div.table table.menu_coffee th:nth-child(3){
	width: 500px;
}
div.table table.menu_coffee th:nth-child(4){
	width: 200px;
}
div.table table.menu_coffee th:nth-child(5){
	width: 200px;
}
div.table table.menu_coffee th:nth-child(6){
	width: 100px;
}




/******메뉴관리 수정 ********/
/******메뉴관리 수정 ********/
/******메뉴관리 수정 ********/
/******메뉴관리 수정 ********/
/******메뉴관리 수정 ********/
span#frame {
	width: 500px;
	display : inline-block;
	font-size: 13px;
	margin-left: -175px;
	background-color: white;
	padding: 2px 0 2px 2px;
}
section.page_update{
	margin: 30px 0;
	text-align: center;
}
div.content_update{
	padding: 20px 0;
	width: 800px;
	margin: auto;
	border-top: 3px solid rgb(255,124,152);
	border-bottom: 3px solid rgb(255,124,152);
}

form.menu_update {
	text-align: center;
}

table.menu_update_table{
	margin: auto;
	display: inline-block;
	text-align: left;
}
table.menu_update_table td{
	padding: 10px;
	width: 600px; 
}
table.menu_update_table td input[type="text"]{
	height: 20px;
	width: 500px;
	padding: 7px;
	margin-right: 10px;
}
table.menu_update_table td select{
	height: 30px;
	padding: 7px;
}
table.menu_update_table input[type="button"]{
	border: none;
	color: white;
	background-color: rgb(255,124,152);
	border-radius : 15%;
	height: 40px; width: 60px;
} 
table.menu_update_table td div.selected_div{
	margin-top: -20px;
	margin-bottom: -10px; 
} 
table.menu_update_table td div.selected_div span{
	font-size: 12px;
	color: rgb(255,124,152);
	font-weight: bold;
	margin-right: 10px;
}
table.menu_update_table div.selected_div button.delete{
	background-color: white;
	border: none;
	cursor: pointer;
}
table.menu_update_table th.th_nutrient{
	vertical-align : top;
	padding-top: 26px; 
}
table.update_nutrient th{
	font-size: 14px;
	font-weight:normal;
}

table.update_nutrient td input[type="text"]{
	width: 40px;
	height: 10px;
}
table.update_nutrient td input[type="number"]{
	width: 50px;
	height: 20px;
}
table.update_nutrient th{
	width: 100px;
}
table.update_nutrient td{
	width: 200px;
}
table.update_nutrient td.td_allergy{
}
table.update_nutrient label[for="allergy"]{
	font-size: 13px;
}

div.update_buttons button{
	border-radius: 20px;
	width: 150px; height: 50px;
	text-align: center;
	line-height: 50px;
	margin: 0 20px;
	background-color: rgb(255,124,152);
	border: none;
	color: white;
	cursor: pointer;
}




/****** 영양정보 ********/
/****** 영양정보 ********/
/****** 영양정보 ********/
/****** 영양정보 ********/
/****** 영양정보 ********/

button.exit{
	display: block;
	border: none;
	width: 30px; 
	height: 30px;
	margin: 5px; padding: 0;
	position: absolute;
	background-color: rgb(247,247,247);
	right: 0; 
	cursor: pointer;
	font-size: 20px;
}
div.exit_div{
	height: 0;
}
div.modal{
	border: 2px solid black;
	width: 350px;
	height: 355px;
	overflow: hidden;
	margin: auto;
	padding: 0;
	position: fixed;
	left: 70%;
	top: 30%;
	background-color: rgb(247,247,247);
	z-index:888;
	display: none; 
}
div.overlay{
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	pointer-events: none;
}
table.nutrient_info{
	border-collapse: collapse;
	border: none;
	width: 100%;
	margin: 0; padding: 0;
	margin-top: 5px;
	background-color: white;
}
table.nutrient_info th{
	color: rgb(255,124,152);
	padding: 10px;
	font-size: 13px; 
	border-bottom: 1px solid rgb(216,209,204);
	width: 100px;
}
table.nutrient_info td{
	padding: 10px;
	border-bottom: 1px solid rgb(216,209,204);
	font-size: 13px;
}
table.nutrient_info tr:first-child td{
	font-size: 14px;
	background-color: rgb(247,247,247);
}
table.nutrient_info tr:first-child th{
	background-color: rgb(247,247,247);
	font-size: 14px;
}
table.nutrient_info tr:last-child td{
	border-bottom: none;
	height: 25px;
}
table.nutrient_info tr:last-child th{
	height: 25px;
	border-bottom: none;
}
