/**공통 **/
section.page{
	margin-top: 30px;
	margin-bottom: 100px;
}

div.content {
	padding: 60px 0;
	text-align: center;
	width: 1200px;
	margin: auto;
}

div.title{
	text-align: center;
}
div.title>div{
	width: 36px;
	height: 26px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	margin: auto;
	padding: 0px 10px;
}
div.title div.title_left{
	background-image: url("http://localhost:9000/br31/images/icon_title_1.png");
}
div.title div.title_right{
	background-image: url("http://localhost:9000/br31/images/icon_title_2.png");
}	
	
/***nutrient_기본화면****//
div.content section.text_info{
	text-align: center;
}

div.content section.text_info img{
	display: inline-block;
}
div.content section.text_info label{
	margin: 20px;
	display: block;
}


/***** 검색 폼 **************/
/***** 검색 폼 **************/
/***** 검색 폼 **************/
/***** 검색 폼 **************/



section.search_form form.nutrient_search{
	margin: 70px 0;
	border: 1px solid rgb(216,209,204);
	width: 100%;
	padding: 10px 0;
}
form.nutrient_search ul{
	margin:0;
	margin-top: 10px;
	padding:0;
}
form.nutrient_search li{
	list-style-type: none;
	display: inline-block;
	margin: 10px 20px;
}
form.nutrient_search li label.title{
	font-weight: bold;
	font-size: 14px;
}
form.nutrient_search ul input, form.nutrient_search ul select{
	border: 1px solid rgb(216,209,204);
	border-radius: 5px;
	display: inline-block;
}
form.nutrient_search ul input.p_name{
	height: 30px;
	margin-left: 30px;
	width: 300px;
}
form.nutrient_search ul select{
	height: 40px;
	width: 150px;
	padding: 10px;
} 
form.nutrient_search ul li:nth-child(2) select:nth-child(2){
	margin-left: 20px;
}
form.nutrient_search ul input[type=checkbox]{
	border: 1px solid red;
	color: red;
}
form.nutrient_search ul li:nth-child(3){
	width:100%;
	text-align: left;
	position: relative;
	left: 170px;
}
form.nutrient_search ul li:nth-child(3) label{
	font-size: 13px;
}
form.nutrient_search ul li:nth-child(3) label.title{
	font-size: 14px;
	margin-right: 15px;
}
form.nutrient_search ul li:nth-child(4){
	width:100%;
}
form.nutrient_search span.notice_labels{
	text-align: left;
	display: inline-block;
	position: relative;
	left: 130px;
	width: 80%;
	margin-bottom: 20px;
}
form.nutrient_search ul label.notice{
	display: block;
	font-size: 13px;
	color:  rgb(157,157,170);
	border: none;
}
form.nutrient_search button.btn_search{
	background-color: rgb(255,124,152);
	width: 190px; height: 55px;
	border-radius: 30px;
	border: none;
	color: white;
	font-size: 18px;
}


/*** 검색결과 표 ************/
/*** 검색결과 표 ************/
/*** 검색결과 표 ************/
/*** 검색결과 표 ************/
/*** 검색결과 표 ************/



section.search_result img.title{
	display: inline-block;
}
section.search_result label.search_result{
	display: block;
	font-size: 14px;
	margin: 10px;
}
section.search_result table{
	border-collapse: collapse;
	border: none;
	width: 100%;
	margin: 20px 0; padding: 0;
}
section.search_result table th{
	border-top: 3px solid rgb(255,124,152);
	color: rgb(255,124,152);
	padding: 10px 0;
	font-size: 13px; 
	border-bottom: 1px solid rgb(216,209,204);
}
section.search_result table th:nth-child(1){
	width: 100px; 
}
section.search_result table th:nth-child(2){
	width: 200px; 
}
section.search_result table th:nth-child(3){
	width: 90px; 
}
section.search_result table th:nth-child(4),
section.search_result table th:nth-child(6),
section.search_result table th:nth-child(8)
{
	width: 80px; 
}
section.search_result table th:nth-child(5),
section.search_result table th:nth-child(7)
{
	width: 60px; 
}
section.search_result table td{
	padding: 10px 0;
	border-bottom: 1px solid rgb(216,209,204);
	font-size: 13px;
}
section.search_result table td:nth-child(even){
	background-color: rgb(247,247,247);
}


/************ 페이지 번호 ********/
/************ 페이지 번호 ********/
/************ 페이지 번호 ********/
/************ 페이지 번호 ********/


div.pagination {
	display: block;
	width: 100%;
	margin: auto;
	text-align: center;
}
div.pagination a{
	border: 1px solid rgb(228,219,215);
	display: inline-block;
	margin: 0 5px;
	width: 45px; height: 45px;
	border-radius: 100%;
	text-align: center;
	line-height: 45px;
	text-decoration : none;
	font-size: 15px;
	background-color: white;
	color: black;
}
div.pagination a:first-child, div.pagination a:last-child{
	color:rgb(255,167,185);
	font-weight: bold;
	font-size: 20px;  
	line-height: 40px; 
}