/*
	commons
*/
* {
	margin:0; /*padding:0;*/
	font-family:"留묒�怨좊뵓";
}
.title {
	border-left:15px solid #333;
	border-bottom:1px solid #333;
	width:30%;
	font-size:35px;
	padding:3px 0 5px 25px;
	margin:30px 0 30px 120px;
}
.content_layout {
	/*border:1px solid blue;*/
	width:60%;
	margin:auto;
}
.btn_style {
	background-color:#4caf50;
	border:1px solid #4caf50;
	font-size:14px;
	font-weight:900;
	color:white;
	width:20%;
	padding:7px 0;
}
.btn_style2 {
	background-color:#4caf50;
	border:1px solid #4caf50;
	border-radius:4px;
	font-size:14px;
	font-weight:900;
	color:white;
	width:17%;
	padding:7px 0;
	margin-right:5px;
}



/*
	index - content
*/
div.content {
	/*border:1px solid red;*/
}
div.carousel {
	background-image:url("http://localhost:10001/mycgv/images/bg_c_bricks.png");
	text-align:center;
}
div.content>section:first-child>div, div.content>section:last-child>div{
	/*border:1px solid blue;*/
	text-align:center;
	margin:30px 0;
}
div.content>section:first-child>article>iframe {
	margin-right:10px;
}
div.content>section:first-child>article>img {
	float:right;
	width:245px;
}
div.content>section:first-child>article {
	overflow:hidden;
	height:338px;
}
div.content>section:last-child>article {
	text-align:center;
}
div.content>section:last-child>article:nth-child(2) {
	border-bottom:3px solid #333;
	padding-bottom:30px;
	margin-bottom:35px;	
}
div.content>section:last-child>article:nth-child(2)>img:nth-child(2) {
	/*border:3px solid red;*/
	margin:0 5px;
}
div.content>section:last-child>article:nth-child(2)>img:nth-child(3) {
	/*border:3px solid red;*/
	margin-right:5px;
}
div.content>section:last-child>article:nth-child(3)>img:first-child,
div.content>section:last-child>article:nth-child(3)>img:last-child {
	/*border:3px solid black;*/
	outline-color:black;
	outline-style:double;
	outline-width:7px;
	margin:10px;
}
div.content>section:last-child>article:nth-child(3)>img:nth-child(2) {
	margin:3px;
}

/*
	footer
*/
footer {
	/*border:2px solid blue;*/
}
footer>div.d1 {
   text-align: center;
   background: rgb(242,174,177);
   margin-top: 60px;
}
footer>div.d1>img {
	margin-top:-58px;
}
footer>div.f1 ul {
	list-style-type:none;
	text-align:center;
	margin:10px 0;
}
footer>div.f1 li {
	display:inline-block;
}
footer>div.f1 li>a {
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	color:#333;
	padding: 0 3px;
}
footer>div.f1 li>div {
	background-color:gray;
	width:1px; height:10px;
	display:inline-block;
}
footer div.d2>div {
	width:750px;
	display:inline-block;
	color:gray;
	font-size:13px;
	margin:0 20px;
}
footer div.d2>img {
	float:left;
	width:70px; height:70px;
}
footer div.d2>div>span {
	color:gray;
	font-size:13px;
	padding:5px 0;
}
footer div.f2 {
	background-image:url("http://localhost:10001/mycgv/images/footer_bg.png");
	height:150px;
	margin-top:30px;
}

/*
	濡쒓렇�씤 �솕硫�
*/
section.login ul {
	/*border:1px solid red;*/
	width:80%;
	list-style-type:none;
	margin:0; padding:0;
}
section.login ul>li {
	padding:3px 0;
}
section.login ul label {
	background-color:lightgray;
	display:inline-block;
	width:30%;
	text-align:center;
	padding:5px 0;
	border-radius:4px;
	font-size:14px;
	font-weight:bold;
	float:left;
	margin-right:7px;
}
section.login ul input {
	border:1px solid gray;
	border-radius:4px;
	width:60%;
	padding:4px 10px;
}
section.login ul>li:last-child {
	/*border:1px solid green;*/
	text-align:center;
	margin-top:10px;
}
section.login ul>li:last-child>button[type="button"] {
	margin-right:15px;
}

/*
	�쉶�썝媛��엯 �솕硫�
*/
section.join ul {
	width:80%;
	list-style-type:none;
	margin:0; padding:0;
}
section.join ul>li {
	padding:3px 0;
}
section.join ul li>label {
	background-color:lightgray;
	display:inline-block;
	width:25%;
	text-align:center;
	padding:5px 0;
	border-radius:4px;
	font-size:14px;
	font-weight:bold;
	float:left;
	margin-right:7px;
}
section.join ul input {
	border:1px solid gray;
	border-radius:4px;
	width:45%;
	padding:4px 10px;
}
section.join ul input.i1 {
	border:1px solid gray;
	border-radius:4px;
	width:20%;
	padding:4px 10px;
}
section.join ul li:nth-child(5)>input {
	width:5%;
	margin:5px;
}
section.join ul li:nth-child(8)>input {
	width:2%;
	margin:5px;
}
section.join ul>li:last-child {
	/*border:1px solid green;*/
	text-align:center;
	margin-top:10px;
}
section.join ul>li:last-child>button[type="button"] {
	margin-right:5px;
}
section.join ul>li:first-child>button {
	width:17%;
	padding:5px 0;
	border-radius:4px;
	background-color:#4caf50;
	border:1px solid #4caf50;
	margin-left:5px;
}
section.join ul input>span {
	padding:0;
	margin:0;
}

/*
	留덉씠�럹�씠吏�, 愿�由ъ옄�럹�씠吏�
*/
section.mycgv>div, section.admin>div {
	/*border:1px solid red;
	margin-left:100px;*/
}
section.mycgv>div> div, section.admin>div a {
	/*border:1px solid blue;*/
	display:inline-block;
	padding:30px;
	color:white;
	border-radius:4px;
	font-size:14px;
}
section.mycgv>div>div:first-child {
	background-color:rgb(117,234,117);
	margin:10px 20px 0 50px;
}
section.admin>div>a:first-child {
	background-color:DodgerBlue;
	margin:10px 20px 0 50px;
}
section.mycgv>div>div:last-child {
	background-color:tomato;
}
section.admin>div>a:last-child {
	background-color:violet;
}
section.admin>div>a:first-child, section.admin>div>a:last-child {
	width:90px; 
	text-decoration:none;
}


/*
	寃뚯떆�뙋 - 怨듯넻
*/
section.board_list table, section.board_list table th, section.board_list table td,
section.board_write table, section.board_write table th, section.board_write table td,
section.board_content table, section.board_content table th, section.board_content table td {
	border:1px solid #333;
	border-collapse:collapse;
}
section.board_list table th, section.board_list table td,
section.board_write table th, section.board_write table td, 
section.board_content table th, section.board_content table td {
	padding:8px 0;
	font-size:14px;
	color:#333;	
	text-align:center;
}
section.board_list table th, section.board_write table th, section.board_content table th {
	background-color:lightgray;
	/*color:white;*/
}

/*
	寃뚯떆�뙋 - 由ъ뒪�듃
*/
section.board_list table tr>td:nth-child(2) a {
	text-decoration:none;
}
section.board_list table tr:first-child td {
	text-align:right;
	padding:0 10px 10px 0;
	border:1px solid white;
	border-bottom:1px solid #333;
}
section.board_list table tr:last-child td {
	border:1px solid white;
	border-top:1px solid #333;
}
section.board_list table tr:first-child button {
	width:15%;
	padding:5px 0;
	border-radius:4px;
	background-color:#4caf50;
	border:1px solid #4caf50;
	color:white;
}

/*
	寃뚯떆�뙋 - 湲��벐湲�
*/
section.board_write table th{
	width:20%;
}
section.board_write table td{
	text-align:left;
	padding-left:7px;
}
section.board_write table tr:last-child>td{
	text-align:center;
}
section.board_write input, section.board_write textarea {
	border:1px solid gray;
	border-radius:4px;
	width:94%;
	padding:5px 10px;
}
section.board_write textarea{
	height:140px;
}
section.board_write table tr:nth-child(3) input {
	border:1px solid white;
}
section.board_write table tr:last-child td {
	border:1px solid white;
	padding-top:30px;
}

/*
	寃뚯떆�뙋 - �긽�꽭�궡�슜
*/
section.board_content table tr:first-child td:nth-child(2) {
	width:10%;
}
section.board_content table tr:nth-child(2) td, section.board_content table tr:nth-child(3) td {
	text-align:left;
	text-indent:10px;
}
section.board_content table tr:last-child td {
	border:1px solid white;
	padding-top:30px;
}

/*
	寃뚯떆�뙋 - �궘�젣
*/
section.board_delete img {
	margin:20px 0;
}
section.board_delete button {
	width:15%;
}

/*
	怨듭��궗�빆 - 怨듯넻
*/
section.notice_list table, section.notice_list table th, section.notice_list table td,
section.notice_content table, section.notice_content table th, section.notice_content table td {
	border:1px solid #333;
	border-collapse:collapse;
}
section.notice_list table th, section.notice_list table td,
section.notice_content table th, section.notice_content table td {
	padding:8px 0;
	font-size:14px;
	color:#333;	
	text-align:center;
}
section.notice_list table th, section.notice_content table th {
	background-color:lightgray;
	/*color:white;*/
}

/*
	怨듭��궗�빆 - 由ъ뒪�듃
*/
section.notice_list table tr>td:nth-child(2) a {
	text-decoration:none;
}
section.notice_list table tr:last-child td {
	border:1px solid white;
	border-top:1px solid #333;
}

/*
	寃뚯떆�뙋 - �긽�꽭�궡�슜
*/
section.notice_content table tr:first-child td:nth-child(2) {
	width:10%;
}
section.notice_content table tr:nth-child(2) td, section.notice_content table tr:nth-child(3) td {
	text-align:left;
	text-indent:10px;
}
section.notice_content table tr:last-child td {
	border:1px solid white;
	padding-top:30px;
}


/*
   愿�由ъ옄�럹�씠吏�- 怨듯넻
*/
section.member_list table, section.member_list table th, section.member_list table td,
section.member_content table, section.member_content table th, section.member_content table td {
   border:1px solid #333;
   border-collapse:collapse;
}
section.member_list table th, section.member_list table td,
section.member_content table th, section.member_content table td {
   padding:8px 0;
   font-size:14px;
   color:#333;   
   text-align:center;
}
section.member_list table th, section.member_content table th {
   background-color:lightgreen;
   /*color:white;*/
}


/*
   愿�由ъ옄�럹�씠吏� - �쉶�썝愿�由�
*/
section.member_list table tr>td:nth-child(2) a {
   text-decoration:none;
}
section.member_list table tr:last-child td {
   border:1px solid white;
   border-top:1px solid #333;
}


/*
   愿�由ъ옄�럹�씠吏� - �쉶�썝�긽�꽭
*/
section.member_content table tr:first-child td:nth-child(2) {
   width:10%;
}
section.member_content table tr:nth-child(2) td, section.member_content table tr:nth-child(3) td {
   text-align:left;
   text-indent:10px;
}
section.member_content table tr:last-child td {
   border:1px solid white;
   padding-top:30px;
}

