/************** cs°øÅë **************/
div.cs_content>section, section.cs_header  {
	width: 1400px;
	margin: auto;
	text-align: center;
}
div.cs_content * {
	font-family: "¸¼Àº °íµñ";
}

.title {
	margin: 70px 0;
}
.title p {
	margin-bottom: 5px;
}
.title span {
	font-size: 15px;
}
.title p:before, .title p:after {
	width: 36px;
	height: 26px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	content: "";
}
.title p:before {
	margin-right: 5px;
	background-image: url("http://localhost:9000/br31/images/icon_title_1.png");
}
.title p:after {
	margin-left: 5px;
	background-image: url("http://localhost:9000/br31/images/icon_title_2.png");
}
.title img {
	display: inline-block;
	margin: 0 10px;
}

/************** cs_header **************/
section.cs_header .cs_menu {
	width: 1000px;
	height: 60px;
	text-align: center;
	border: 1px solid darkgray;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom: 2px solid #ff7c97;
	line-height: 60px;
	display: inline-block;
}
section.cs_header .cs_menu button {
	width: 200px;
	height: 40px;
	line-height: 35px;
	margin: 0 10px;
	text-indent: 30px;
	font-weight: bold;
	border: none;
	border-radius: 20px;
	background: white no-repeat 20px 2px;
}
section.cs_header .cs_menu .btn_faq {
	background-image: url("http://localhost:9000/br31/images/img_faq.png");
}
section.cs_header .cs_menu .btn_voc {
	background-image: url("http://localhost:9000/br31/images/img_inquiry.png");
}
section.cs_header .cs_menu .btn_myvoc {
	background-image: url("http://localhost:9000/br31/images/img_myvoc.png");
}
section.cs_header .cs_menu button:hover {
	border: 2px solid #ff7c97;
	cursor: pointer;
}


/************** voc_content **************/
section.voc_content h3 {
	margin: 40px 0 20px 0;
}
section.voc_content .voc_content_detail, section.voc_content form{
	width: 1000px;
	margin: auto;
	margin-bottom: 50px;
	padding: 20px 0;
	border: 1px solid #ff7c97;
	border-radius: 10px;
}
section.voc_content .details {
	text-align: left;
}
section.voc_content .details span {
	font-size: 13px;
	margin-left: 30px;
}
section.voc_content table {
	width: 950px;
	font-size: 13px;
	margin: 15px auto;
}
section.voc_content table, section.voc_content th, section.voc_content td {
	border: 1px solid darkgray;
	border-collapse: collapse;
}
section.voc_content th {
	width: 16%;
	text-align: center;
	background-color: #ededf0;
}
section.voc_content .details td {
	width: 16%;
	text-align: left;
}
section.voc_content th, section.voc_content .details td {
	padding: 10px 15px;
}
section.voc_content .answer td {
	padding: 20px;
	text-align: left;
}
section.voc_content button {
	padding: 10px 50px;
	font-weight: bold;
	color: white;
	border-radius: 10px;
	background-color: #78909c;
}
section.voc_content button:hover {
	cursor: pointer;
	background-color: slategray;
}
section.voc_content img {
	width: auto;
	height: auto;
	max-width: 300px;
	max-height: 150px;
	cursor: pointer;
}

/************** voc_list **************/
section.voc_list h3 {
	margin: 40px 0 20px 0;
}
section.voc_list .voc_list_content {
	width: 1000px;
	margin: auto;
	margin-bottom: 50px;
	padding: 20px 0;
	border: 1px solid #ff7c97;
	border-radius: 10px;
}
section.voc_list table {
	width: 950px;
	font-size: 13px;
	margin: 15px auto;
}
section.voc_list table, section.voc_list th, section.voc_list td {
	border-style: solid none; 
	border-color: darkgray;
	border-width: 1px;
	border-collapse: collapse;
}
section.voc_list th {
	background-color: #ededf0;
}
section.voc_list th, section.voc_list td {
	padding: 10px 15px;
}
section.voc_list table a {
	text-decoration: none;
	color: black;
}
section.voc_list table a:hover {
	color: #ff7c97;
}
section.voc_list table tr th:nth-child(4), section.voc_list table tr td:nth-child(4) {
	width: 40%;
}


/************** voc_write **************/
section.voc_write h3 {
	margin: 40px 0 20px 0;
}
section.voc_write form {
	margin: auto;
	margin-bottom: 50px;
	width: 1000px;
	border: 1px solid #ff7c97;
	border-radius: 10px;
	font-family: "¸¼Àº °íµñ";
}
section.voc_write form div {
	text-align: left;
	padding: 20px;
}
div.agree_info {
	height: 250px;
	overflow: auto;
	padding: 0 20px;
	border: 1px solid darkgray;
	border-radius: 10px;
}
div.agree_member {
	height: 200px;
	overflow: auto;
	text-indent: 20px;
	border: 1px solid darkgray;
	border-radius: 10px;
}
div.agree_member h5{
	margin: 15px 0 5px 0;
}
section.voc_write form p {
	margin: 0;
	padding: 0 20px;
	line-height: 150%;
	font-size: 13px;
}
section.voc_write div.agree_check {
	text-align: center;
	padding: 5px;
}
div.agree_check div {
	display: inline-block;
	font-size: 14px;
}
div.agree_check h5 {
	display: inline-block;
	margin-right: 10px;
}
div.agree_info table {
	font-size: 13px;
	margin: 20px;
}
div.agree_info table th {
	text-align: center;
	background-color: lightsteelblue;
}
div.agree_info table, div.agree_info table th, div.agree_info table td {
	border: 1px solid steelblue;
	border-collapse: collapse; 
}
div.agree_info table th, div.agree_info table td {
	padding: 10px;
}
div.details table {
	width: 950px;
	font-size: 13px;
	margin: 15px auto;
}
div.details table, div.details th, div.details td {
	border: 1px solid darkgray;
	border-collapse: collapse;
}
div.details th {
	width: 13%;
	background-color: #f5f5f5;
}
div.details td {
	width: 36%;
}
div.details th, div.details td {
	padding: 10px 15px;
}
div.details span {
	font-weight: bold;
	margin: 0;
	padding: 0 10px;
	line-height: 150%;
	font-size: 13px;
}
div.details table span, div.details p>span {
	padding: 0 0 0 2px;
	color: crimson;
}
div.details textarea {
 	width: 770px;
	height: 200px;
	resize: none;
	padding: 10px;
}
div.details input[type="text"]{
	padding: 3px 4px;
	text-indent: 2px;
}
div.details select {
	width: 130px;
	padding: 3px 0;
	text-indent: 2px;
}
div.details table #voc_title {
	width: 777px;
}
div.details #voc_name {
	width: 310px;
}
div.details input[id^="voc_hp"] {
	width: 82px;
}
div.details .td_email>input {
	width: 140px;
}
section.voc_write form>div:last-child {
	text-align: center;
}
section.voc_write button {
	margin: 10px 0 30px 0;
	padding: 10px 60px;
	font-weight: bold;
	color: white;
	border-radius: 10px;
	background-color: #78909c;
}
section.voc_write button:hover {
	cursor: pointer;
	background-color: slategray;
} 

/************** faq **************/
section.faq a {
	text-decoration: none;
	color: black;
}
section.faq ul {
	list-style-type: none;
	display: inline-block;
	padding: 0;
}
section.faq .faq_board {
	width: 1000px;
	margin: auto;
	display: inline-block;
}
section.faq .faq_board h3 {
	margin: 40px 0 20px 0;
}
section.faq .faq_type ul {
	width: 900px;
	height: 50px;
	line-height: 50px;
	border: 1px solid darkgray;
	border-radius: 5px;
}
section.faq .faq_type li {
	display: inline-block;
	float: left;
}
section.faq .faq_type a {
	display: inline-block;
	width: 180px;
	margin: 0;
	font-weight: bold;
}
section.faq .faq_type a:hover {
	background-color: #92867f;
	color: white;
}

/*** ¸®½ºÆ® ****/
section.faq .faq_list ul{
	display: inline-block;
	width: 900px;
}
section.faq .faq_list li:last-child {
	border-bottom: 1px solid darkgray;
}
section.faq .faq_list li{
	text-align: left;
	line-height: 70px;
	/* text-indent: 90px; */
	border-top: 1px solid darkgray;
 	background: url("http://localhost:9000/br31/images/icon_question.gif") 40px 30px no-repeat;

}
section.faq div.pagination {
	display: block;
	width: 100%;
	margin: 10px auto 100px auto;
	text-align: center;
}
div.pagination a {
	border: 1px solid rgb(228,219,215);
	display: inline-block;
	margin: 0 5px;
	width: 45px; height: 45px;
	border-radius: 100%;
	text-align: center;
	line-height: 45px;
	text-decoration : none;
	font-size: 15px;
	background-color: white;
	color: black;
}
div.pagination a:first-child, div.pagination a:last-child {
	color:rgb(255,167,185);
	font-weight: bold;
	font-size: 20px;  
	line-height: 40px; 
}

section.faq .faq_list li>a {
	height: 70px;
	font-weight: 500;
	color: #261c17;
	display: block; 
	position: relative; 
	padding-left: 100px;
}
section.faq .faq_list li>a:after {
	position: absolute; 
	top: 50%; 
	right: 14px; 
	width: 21px; 
	height: 12px; 
	margin-top: -6px; 
	background: url(http://localhost:9000/br31/images/icon_faq_list.gif) no-repeat; 
	content:"";
}
section.faq .faq_list .answer {
	display: none; 
	padding-left: 90px;
	background: url(http://localhost:9000/br31/images/icon_answer.gif) 40px 27px no-repeat; 
	color: black; 
	font-size: 14px; 
	line-height: 1.8;
	word-break: break-all;
}
section.faq .faq_list .answer>div {
 	border-top: 1px solid #d3d3d3;
	padding: 20px 70px 20px 10px;
}
section.faq .faq_list .answer p {
	margin: 0;
}
section.faq .faq_list .on, section.faq .faq_list .on + li {
	border-top: 1px solid #ff7c97;	
}
section.faq .faq_list .on>a {
	color: palevioletred;
}
section.faq .faq_list .on>a:after {
	background-position: 0 -12px; 
}

/************** admin_faq_list **************/
section.faq button, .faq_write_btns button {
	padding: 10px 35px;
	color: white;
	background-color: #ff9aaf;
	margin-bottom: 15px;
	border: 1px solid #ff9aaf;
	border-radius: 10px;
	font-weight: bold;
}
section.faq .faq_list .btnFaqUpdate {
	margin-left: 600px;
}
section.faq .btnFaqWrite {
	margin: 0 0 0 800px;
}
section.faq button:hover, .admin_faq_form button:hover {
	background-color: #fb7b97;
	border-color: #fb7b97;
	cursor: pointer;
}

/************** admin_faq_write **************/
div.faq_content {
	text-align: center;
	margin: auto;
	width: 1400px;
}
div.faq_content h3 {
	margin: 30px auto;
}
.admin_faq_form {
	font-size: 13px;
	width: 1000px;
	margin: auto;
	margin-bottom: 50px;
	padding: 20px 0;
	border: 1px solid #ff7c97;
	border-radius: 10px;
	text-align: center;
}
.admin_faq_form table {
	margin: 20px auto;
}
.admin_faq_form table, th, td {
	height: 30px;
	border: 1px solid darkgray;
	border-collapse: collapse;
	padding: 9px 0;
}
.admin_faq_form th {
	width: 100px;
}
.admin_faq_form td {
	width: 700px;
}
.admin_faq_form input[type=text], .admin_faq_form textarea {
	border: none;
	width: 93%;
	padding: 7px;
	background-color: #e9e9e9;
	font-family: "¸¼Àº °íµñ";
}
.admin_faq_form textarea {
	height: 400px;
	resize: none;
}
.admin_faq_form table tr:last-child td {
	text-align: left;
	padding-left: 20px;
}
.admin_faq_form .faq_write_btns {
	margin-top: 30px;
}


/************** admin_voc_list **************/
div.voc_search_bar {
	text-align: left;
	padding-left: 30px; 
}
div.voc_search_bar select {
	width: 100px;
}
div.voc_search_bar #voc_search {
	margin-left: 500px;
}
div.voc_search_bar input:[type="text"] {
	padding: 0 5px;
}
div.voc_search_bar button {
	padding: 2px 20px;
}


/************** admin_voc_content **************/
section.voc_content .btn_area {
	display: block;
	height: 50px;
	position: relative;
}
section.voc_content .area_left {
	float: left;
	margin-left: 30px;
}
section.voc_content .area_right {
	float: right;
	margin-right: 30px;
}

/************** admin_voc_write **************/
section.voc_content .voc_answer {
	width: 890px;
	height: 200px;
	resize: none;
	padding: 10px;
}

