/****************
	공통 부분 css
***********************/

div.content{
	font-family:"맑은고딕";
	width:1000px;
	margin:auto;
	margin-top:150px; 
	
}

div.title{
	border-bottom:2px solid rgb(255, 124, 152);
	text-align:center;
	font-size:19px;
	font-weight:blod;
	color:#333;
	padding-bottom:35px;
}

.btn_cancle, .btn_confrim{
	padding:5px 20px;
	margin: 0 5px;
	background-color:white;
	border:1px solid rgb(128, 128, 161);
	border-radius:4px;
	color: gray;
	font-size:15px;
}
.btn_confrim{
	background-color:gray;
	color:white;
}

/*************
	login_css
*****************/

div.title img{
	display:block;
	margin:auto;
	padding:15px;
}


/*로그인 하는 부분*/
div.login_div{
	float:left;
	margin:50px 0;
	border-right:2px solid rgb(239, 239, 239);
	
}

/*login placeholder icon*/
div.login_div input:first-child::-webkit-input-placeholder{
  background-image: url("http://localhost:9000/br31/images/user_icon.png");
  background-size: contain;
  background-position:  1px center;
  background-repeat: no-repeat;
  text-align: center;
  font-size:12px;
  text-indent: 10px;
}
div.login_div input:nth-child(2)::-webkit-input-placeholder{
  background-image: url("http://localhost:9000/br31/images/pass_icon.png");
  background-size: contain;
  background-position:  1px center;
  background-repeat: no-repeat;
  text-align: center;
  font-size:12px;
  text-indent: 20px;
}



div.login_div>span:first-child{
	font-size:16px;
	display:block;
	font-weight:bold;
}
div.login_div>span:nth-child(2){
	font-size:16px;
	padding-top: 3px;
	color: rgb(255, 124, 152);
}

div.login_div form.login_form fieldset{
	border:none;
	color:white;
	padding:0;
	margin:0;
}

div.login_div form.login_form{
/*	border:1px solid blue;*/
	padding:0;
}

div.login_div form.login_form div:first-child{
/*border:1px solid green;*/
	float:left;
	margin-right:20px;
	margin-left:-40px;
}

div.login_div form.login_form div:nth-child(2){
/*border:1px solid red;*/
	float:right;
	margin-right:20px;
}

div.login_div form.login_form input{
	display:block;
	background-color:rgb(239, 239, 239);
	border: none;
	padding:18px;
	padding-right:130px;
	margin-bottom:10px;
}

div.login_div form.login_form button{
	width:125px;
	height:125px;
	margin: 0 10px;
	background-color: rgb(255, 124, 152);
	color:white;
	font-size:17px;
	font-weight:bold;
	border:1px solid white;
	border-radius:50%;
}

div.show_benefit{
	clear:left;
	diplay:inline-block;
}

/*login_option*/

div.login_div div.login_option ul{
	list-style-type:none;
}

div.login_div div.login_option div{
	margin-left:-40px;
}

div.login_div div.login_option a:first-child>li{
	margin-left:-18px;
}
div.login_div div.login_option a:last-child>li{
	border:none;
}
div.login_div div.login_option li{
	border-right:1px solid gray;
	display:inline-block;
	font-size:12px;
	color:#333;
	width:100px;
	text-align:center;
}
div.login_div div.login_option li a{
	text-decoration : none;
}

/*우측 안내문*/
div.info_div{
	float:left;
	margin:50px 0 50px 40px;
	width:450px;
}

div.info_div div span:first-child, div.info_div span:first-child{
	font-size:16px;
	display:block;
	font-weight:bold;
}

.info_content{
	font-size:13px;
	color: rgb(148, 135, 128);
}

.info_content2{
	font-size:13px;
	font-weight:bold;
	color: #333;
}

div.info_div div:nth-child(2){
	margin-top: 50px;
}
div.info_div div:nth-child(2) span.info_content{
	display:inline-block;
	width:20%;
}


/*중간 안내문*/
div.middle_info{
	clear:left;
	text-align:center;
	border-top:3px solid rgb(239, 239, 239);
	padding:23px;
	font-size:16px;
	color: rgb(148, 135, 128);
}

/*맨 맽 혜택 안내문*/
div.show_benefit{
	/*border:1px solid red;*/
	height:250px;

}

div.d1, div.d2, div.d3{
	/*border:1px solid blue;*/
	width:30%;
	float:left;
	margin: 0 15px;
}

div.d1 span:first-child, div.d2 span:first-child, div.d3 span:first-child{
	font-size:16px;
	display:block;
	font-weight:bold;
}

div.d1 span:nth-child(2), div.d2 span:nth-child(2), div.d3 span:nth-child(2){
	font-size:11px;
	color: rgb(148, 135, 128);
	
}

div.d1 div:nth-child(2), div.d2 div:nth-child(2), div.d3 div:nth-child(2){
	display:inline-block;
	width:50%;
	margin:25px 0  0 5px;
}

div.d3 div:nth-child(2){
	width:55%;
}

div.d1 div:first-child, div.d2 div:first-child, div.d3 div:first-child{
	display:inline-block;
	float: left;
}



/*************
	login_id_search_css/login_pass_search_css
*****************/
div.login_search_content{
	font-family:"맑은고딕";
	width:1000px;
	margin:auto;
	text-align:center;
	margin-top:150px; 
}

div.login_search_title h1{
	text-align:center;
	font-size:33px;
	font-weight:blod;
	color:#333;
}

div.login_search_title span{
	text-align:center;
	font-size:15px;
	font-weight:blod;
	color:gray;
}

div.login_search_title{
	margin-bottom:40px;
}

/****
아이디 비밀번호 찾기 방법 선택 하는 부분
***/
div.s_content div:first-child a{
	text-decoration:none;
	
}
div.s_content div:first-child span{
	display:inline-block;
	width: 330px;
	padding:15px 0;
	font-size:15px;
	font-weight:bold;
	margin-bottom:50px;
}
div.si_show a:first-child span{
	border-bottom: 3px solid rgb(254, 79, 39);
	color: rgb(254, 79, 39);
}
div.si_show a:last-child span{
	border-bottom: 1px solid lightgray;
	color: gray;
}

/*휴대폰, 아이핀 이미지*/
div.s_content>div:nth-child(2){
	margin-bottom:80px;
}

div.s_content>div:nth-child(2)>div:first-child, div.s_content>div:nth-child(2)>div:nth-child(2){
	border:1px solid lightgray;
	border-radius:4px;
	display:inline-block;
	margin: 0 7px;
}

div.s_content>div:nth-child(2)>div:first-child{
	padding: 25px 95px;
}
div.s_content>div:nth-child(2)>div:first-child button{
	background-image : url("http://localhost:9000/br31/images/id_search_phone.PNG");
	width:124px;
	height:139px;
	border:none;
}
div.s_content>div:nth-child(2)>div:last-child button{
	background-image : url("http://localhost:9000/br31/images/id_search_ipin.PNG");
	width:96px;
	height:137px;
	border:none;
}

div.s_content>div:nth-child(2)>div:nth-child(2){
	padding: 27px 110px;
}

div.s_content>div:nth-child(2)>div:first-child:hover, div.s_content>div:nth-child(2)>div:nth-child(2):hover{
	border:1px solid rgb(254, 79, 39);
}

/*회원가입 페이지로 넘어가는 부분*/
section.go_join div{
	margin-bottom:130px;
}
section.go_join div span{
	display:block;
}
section.go_join div span:first-child{
	font-size:16px;
	font-weight:bold;
	color:#333;
	margin-bottom:15px;
}
section.go_join div span:nth-child(2){
	font-size:12px;
	color:gray;
	margin-bottom:30px;
}

/*회원가입 페이지로 넘어가는 버튼*/
.go_join_button{
	border: 1px solid rgb(254, 79, 39);
	border-radius:8px;
	background-color:white;
	color:rgb(254, 79, 39);
	font-size:15px;
	font-weight:bold;
	padding: 11px 30px;
}


/***비밀번호 찾기 페이지에서 아이디/비밀번호 찾기 선택 부분***/

div.sp_show a:last-child span{
	border-bottom: 3px solid rgb(254, 79, 39);
	color: rgb(254, 79, 39);
}
div.sp_show a:first-child span{
	border-bottom: 1px solid lightgray;
	color: gray;
}

/*************
	login_phone_css
*****************/

div.pop_content{
	width:350px;
	height:270px;
}

div.pop_content ul{
	list-style-type : none;
	margin:0;
	padding:0;
}

div.pop_content label{
	font-size:15px;
	display:block;
	font-weight:bold;
}

.select_style{
	padding:3px 8px;
	margin: 0 10px;
	background-color:white;
	border:1px solid rgb(128, 128, 161);
	border-radius:4px;
	color: gray;
}

/*버튼자리*/

div.pop_content li, div.pop_content label{
	margin: 10px 0;
}

/***
	휴대전화
****/
li.email_style input{
	width:80px;
}
li.email_style select{
	margin-left:-1px;
	margin-right:-1px;
}

/***
	이메일
****/
div.pop_content li:nth-child(2) input{
	width:80px;
}
div.pop_content li:nth-child(2) span:last-child{
	font-size:13px;
	display:block;
	margin:10px 0;
	color:gray;
}

/***
	버튼
****/
div.pop_content li:last-child{
	text-align:center;
	margin: 30px 0 ;
}

/*************
	login_ipin_css
*****************/

/***
	아이핀
****/
li.ipin_style input{
	width:310px;
	padding: 3px 0;
}
li.ipin_style select{
	margin-left:-1px;
	margin-right:-1px;
}


/*************
	join_css
*****************/

section.join div{
	text-align:center;
	
}

form.join_form ul{
	list-style-type : none;
	width:60%;
	margin:auto;
}

form.join_form li label{
	display:inline-block;
	width:20%;
	/*margin:15px 0;*/
	color:#333;
}

.li{
	border:1px solid white;
	border-bottom : 1px solid rgb(128, 128, 161);
	border-radius : 2px;
	margin: 20px  5px 20px 0;
}

/*주소*/
form.join_form li:nth-child(8)>input:last-child{
	/*border:3px solid blue;*/
	display:block;
	margin-left:125px;
	width:450px;
}
/*이메일 정보*/
form.join_form li:nth-child(9) input{
	width:140px;
}

form.join_form li:nth-child(9) span:last-child{
	display : block;
	margin-left:125px;
	color:rgb(128, 128, 161);
	font-size:10px;
}
/*휴대폰 정보*/
form.join_form li:nth-child(7) input{
	width:60px;
}
form.join_form li:nth-child(7) span, form.join_form li:nth-child(9) span:first-child{
	color:rgb(128, 128, 161);
	font-size:25px;
}


/*join section(전체)*/
section.join>div>span{
	color:rgb(128, 128, 161);
	font-size:13px;
	display:inline-block;
	width:60%;
	padding: 0 0 50px 0;
}

section.join>span{
	color:rgb(128, 128, 161);
	font-size: 12px;
	display:block;
	width:60%;
	margin:auto;
	padding: 0 0 10px 0;
}

/*button*/
form.join_form li:last-child{
	text-align:center;
	margin:50px 0 ;
}
.btn_check, .select_style{
	padding:3px 8px;
	margin: 0 10px;
	background-color:white;
	border:1px solid rgb(128, 128, 161);
	border-radius:4px;
	color: gray;
}


/*버튼자리*/


/***********
	mypage 메뉴바 
************/

div.content section.m_menu, div.content section.m_page legend{
	text-align:center;
}
div.content section.m_menu ul img{
	margin: 0 10px;
	height: auto;
	width:145px;
}
div.content section.m_menu ul {
	border: 1px solid lightgray;
	border-bottom : 3px solid rgb(255, 124, 152);
	display: inline-block;
	border-radius: 30px 30px 0 0 ;
	margin: 10px 0 70px 0;
}

/*************
	mypage_css
*****************/

div.content section.m_page, div.content section.m2_page{
	width:90%;
	margin:auto;
}

div.content section.m_page fieldset{
	border: 1px solid rgb(198, 191, 179);
	border-radius : 10px;
}

div.card_div{
	width:100%;
	margin:auto;
}

div.content section.m_page div.card_section fieldset{
	/*border: 3px solid rgb(198, 191, 179);
	border-style: dashed;
	border-radius:10px;*/
	border:1px solid white;
	display : inline-block;
	width:210px;
	height: 170px;
	margin: 0 0 0 160px;
	background-image : url("http://localhost:9000/br31/images/card_set_image.PNG");
	clear:left;
	
}

div.card_section{
	padding: 10px  0 40px 0;
	border-bottom: 1px solid rgb(198, 191, 179);
	clear:left;
}

div.card_section fieldset>img{
	margin: 25px 25px 0 25px;
	display:block;
	width:145px;
}

div.card_section fieldset span{
	color:#333;
	display: inline-block;
	width:100px;
	font-size:13px;
	font-weight:bold;
	margin-left:35px;
}

/*안녕하세요 홍길동님*/
div.hello span{
	display:inline-block;
	font-size:30px;
	color: rgb(206, 198, 185);
	margin: 70px 0;
}
div.hello span:first-child{
	margin-left:20px;
}
div.hello span:nth-child(2){
	color: #333;
}

div.card_section div:first-child{
	float:left;
}

/*해피포인트 보여주는 div*/

div.point_section{
	width:50%;
	float:left;
	padding-top:30px;
	padding-left:30px;
	padding-bottom:35px;
}

div.point_section div:first-child{
	display:inline-block;
	/*border:1px solid red;*/
	float:left;
}
div.point_section div:nth-child(2){
	font-weight:bold;
	font-size:15px;
	display:inline-block;
	width:70%;
	margin-top:25px;
	margin-left:5px;
}

div.point_section div:nth-child(3){
	color: rgb(148, 135, 128);
	font-size:12px;
	display:block;
	width: 450px;
	clear:left;
	margin: 10px;
}


/*포인트 보여주는 부분*/
div.point_show{
/*border: 1px solid red;*/
	width:350px;
	float:right;
	text-align:right;
	padding-top:30px;
	padding-left:10px;
	margin-top:10px;
}

div.point_show div:first-child{
	/*border: 1px solid blue;*/
	font-size:20px;
	color : rgb(148, 135, 128);
	float:left;
	width:70%;
	text-align:center;
	margin-top:10px;
}


div.point_show div:first-child span{
	/*border:1px solid red;*/
	display:inline-block;

}
div.point_show div:first-child span:first-child{
	width:175px;
	height:30px;
	margin-right:15px;
}

div.point_show div:nth-child(2) span{
/*border:1px solid black;*/
	font-size:40px;
	color : rgb(255, 132, 0);
	font-weight: 700px;
	margin-top:-20px;
	float:left;
	margin-top:-3px;
	margin-left:20px;
}

div.point_show div:nth-child(3){
	/*border:1px solid orange;*/
	display:inline-block;
}

/*point 버튼*/
.btn_pcheck, .btn_pconfrim{
	border: 1px solid rgb(255, 124, 152);/*배라 pink*/
	border-radius:4px;
	background-color:white;
	color: rgb(255, 124, 152);
	font-size:11px;
	padding: 5px 15px;
	margin: 10px 3px;
}

.btn_pconfrim{
	color: #333;
	border: 1px solid rgb(224, 214, 209);
	
}

/*포인트로 구매가능한 제품*/
.point_product{
	margin:100px 0 150px 0;
}

div.point_product span:first-child{
	display:block;
	font-weight:600;
}
div.point_product span:nth-child(2){
	font-size:11px;
	color: rgb(148, 135, 128);

}

/*이벤트 프로모션*/
div.promotion span:first-child{
	color: rgb(47, 35, 28);
	padding:10px 0;
}

div.promotion div:nth-child(4) a:first-child span{
	padding-top:10px;
	width:40%;
}

div.promotion div:nth-child(4) a{
	text-decoration:none;
}

div.promotion div:nth-child(4) a:last-child span{
	color:rgb(148, 135, 161);
	font-size:13px;
	width:40%;
}

/*************
	mypage_f_shop_css
*****************/

div.content section.m1_page{
	width:90%;
	margin:auto;
	text-align:center;
}

section.m1_page span:first-child{
	color: rgb(255, 124, 152);
}

section.m1_page div:first-child{
	margin-bottom: 70px;
	margin-top:-30px;
}


/*************
	mypage_f_flavor_css
*****************/
div.content section.m2_page div.m_f_image{
	text-align:center;
	margin:150px 0 70px 0;
}

section.m2_page span{
	margin-left:5px;
	font-weight:600;
}


/********
	추천 플레이버
********/
div.r_flavor ul{
	list-style-type : none;
	padding:0;
	width:100%;
	height:210px;
	text-align:center;
}
div.r_flavor ul a{
	text-decoration : none;
}
div.r_flavor ul li{
	border:1px solid lightgray;
	display:inline-block;
	width:180px;
	margin:0;
	float:left;
}

div.r_flavor ul li span{
	display:block;
	font-size:11px;
	padding:20px 25px 45px 25px;
	color :rgb(148, 135, 128);
	margin:auto;
}
div.r_flavor ul li a img{
	width:100px;
	height:100px;
	text-align:center;
	
	background-image: url("http://localhost:9000/br31/images/icream_con.PNG");
	background-repeat: no-repeat;
	background-position: bottom;
	
	margin-left:35px;
}

.btn_favor{
	border:1px solid rgb(148, 135, 128);
	border-radius:50%;
	width:35px;
	height:35px;
	background-image : url("http://localhost:9000/br31/images/star_button.PNG");
	background-position : center;
	
	display:inline-block;
	font-size:25px;
	
	text-align:center;
	margin:0;
	
}

.btn_favor_click{
	border:1px solid rgb(148, 135, 128);
	border-radius:50%;
	width:35px;
	height:35px;
	background-image : url("http://localhost:9000/br31/images/star_button_onclick.PNG");
	background-position : center;
	
	display:inline-block;
	font-size:25px;
	
	text-align:center;
	margin:0;
	
}


/***
	내가 좋아하는 플레이버
****/

section.m2_page{
	clear:left;
}

span.m2_title{
	color: black;
	font-size:15px;
	display:block;
}

div.r_flavor{
	margin-bottom:150px;

}



/*************
	mypage_update_css
*****************/

div.content section.m_content div:first-child{
	text-align:center;
}
div.content section.m_content{
	width:60%;
	margin:auto;
}

form.update_form ul{
	list-style-type : none;
	/*width:60%;
	margin:auto;*/
}

form.update_form li label{
	display:inline-block;
	width:20%;
	color:#333;
}

/*주소*/
form.update_form li:nth-child(6)>input:last-child{
	/*border:3px solid blue;*/
	display:block;
	margin-left:125px;
	width:450px;
}

/*이메일 정보*/
form.update_form li:nth-child(7) input{
	width:130px;
}
form.update_form li:nth-child(7) span:last-child{
	display : block;
	margin-left:120px;
	color:rgb(128, 128, 161);
	font-size:10px;
}

/*휴대폰 정보*/
form.update_form li:nth-child(3) input{
	width:60px;
}
form.join_form li:nth-child(3) span, form.join_form li:nth-child(8) span:first-child{
	color:rgb(128, 128, 161);
	font-size:25px;
}

/*회원정보 수정 전체 section에 관한 부분*/
section.m_content>div>span{
	color:rgb(128, 128, 161);
	font-size:13px;
	display:inline-block;
	width:60%;
	padding: 0 0 50px 0;
}



.li{
	border:1px solid white;
	border-bottom : 1px solid rgb(128, 128, 161);
	border-radius : 2px;
	margin: 20px  5px 20px 0;
}

/*button*/
form.update_form li:last-child{
	text-align:center;
	margin:50px 0 ;
}

/*버튼자리*/

.btn_check, .select_style{
	padding:3px 8px;
	margin: 0 10px;
	background-color:white;
	border:1px solid rgb(128, 128, 161);
	border-radius:4px;
	color: gray;
}

/*************
	mypage_unregister_css
*****************/

div.content section.m3_page{
	width:90%;
	margin:auto;
	text-align:center;
}

section.m3_page span{
	font-size:25px;
	display: block;
	margin: 0 0 20px 0;
}

div.content section.m3_page div{
	margin-bottom:100px;
}


/**************
	admin_member_css
*********************/




/*************
	error_page_css
***************/

div.error{
	text-align:center;
}
div.error div img{
	width:30%;
}

div.error_content{
	margin-bottom:25px;
}

div.error_content span:first-child, div.error_content span:nth-child(2){
	/*color:rgb(148, 135, 128);*/
	color:rgb(128, 128, 161);
	font-size: 20px;
	font-weight:600;
	
}

div.error_content p{
	color:rgb(148, 135, 128);
	font-size:15px;
}

div.error_content span:first-child{
	color:tomato;
}

div.error_content span:last-child{
	color:rgb(128, 128, 161);
	font-size:17px;
	
}


/*********
	joinSuccess.css
***********/
section.joinSuccess{
	text-align:center;
}

section.joinSuccess h1{
	font-size:40px;
}

section.joinSuccess div span{
	color: rgb(128, 128, 161);
}
section.joinSuccess div {
	margin:30px 0;
}

section.joinSuccess div:nth-child(3){
	margin-bottom:150px;
	
}

/*****************
	loginFail.css
*******************/

section.loginFail{
	text-align:center;
}
section.loginFail h1{
	margin-bottom:35px;
}
section.loginFail div.loginF{
	margin:auto;
	width:65%;
	border:1px solid rgb(128, 128, 161);
	border-radius:10px;
	margin-bottom:150px;
}

div.loginF div:first-child, div.loginF div:nth-child(2){
	border-bottom:1px solid rgb(128, 128, 161);
}

div.loginF span{
	font-size:15px;
	display:block;
	margin:20px;
	
}

div.loginF div{
	padding-bottom:15px;
}

.btn_loginF{
	padding:5px 20px;
	margin: 0 5px;
	background-color:white;
	border:1px solid rgb(128, 128, 161);
	border-radius:4px;
	color: gray;
	font-size:13px;
}












